article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body, button, input, select, textarea {font-family: 'Open Sans', Arial, sans-serif; color: #222; margin:0;}
body{background:#fff; font-size:18px; line-height:2em; color:#6b6b6b;}

::-moz-selection { background: #1cabb6; color: #fff; text-shadow: none; }
::selection { background: #1cabb6;  color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
input:focus, textarea:focus{outline:none;}

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: middle; }
body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
a{text-decoration:none;}
p strong{font-size:14px; line-height:1.6em; font-weight: 700;}
p{font-size:14px; line-height:1.6em; font-weight: 400;}
ul li a{cursor:pointer;}


a#responsive-menu{display: none;}


h1{font-size:60px; line-height:1.0em; font-weight: 800; color:#1cabb6; margin:0;}
h2{font-size:40px; line-height:1.0em; font-family: Crimson, Arial, sans-serif; color:#ea591e; margin:0;}
	h2:before, h2:after{position:absolute; content:""; width:42px; height:1px; background:#b0b0b0; margin-left:-60px; margin-top:20px;}
	h2:after{margin-left:18px;}
h3{font-size:30px; line-height:1.6em; font-weight: 400; color:#454545; margin:0;}
	h3 a{text-decoration:underline; color:inherit;}
    h3 a:hover{text-decoration:none;}
h4{font-size:40px; line-height:1.2em; font-family: Crimson, Arial, sans-serif; color:#1cabb6; margin:0;}
	h4 img{margin-top:-10px;}
h5{font-size:18px; line-height:1.2em; font-weight: 700; color:#ea591e; margin:30px 0 20px;}



hr{border-color:#e8e8e8; margin:30px 0;}



.button{display:inline-block; background:#ea591e; font-size:44px; line-height:1.6em; font-weight: 800; color:#fff; text-decoration:none; height:75px;}
	.button:before{position:absolute; content:""; width:66px; height:75px; background:url(../img/orange-button-before.png); margin-left:-66px;}
	.button:after{position:absolute; content:""; width:66px; height:75px; background:url(../img/orange-button-after.png);}
.button:hover{opacity:0.8;}


.pagination ul {list-style: none;}
.grey-button{display:inline-block; background:#e0e0e0; font-size:14px; line-height:2.0em; font-weight: 800; color:#1cabb6; text-decoration:none; height:29px;}
	.grey-button:before{position:absolute; content:""; width:29px; height:29px; background:url(../img/grey-button-before.png); margin-left:-29px;}
	.grey-button:after{position:absolute; content:""; width:29px; height:29px; background:url(../img/grey-button-after.png);}
.grey-button:hover{opacity:0.8;}

.button-main {color: white; border-radius: 4px; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); background: #ea591e;}

.error input[type="text"], .error input[type="password"] {
	border-color: red;
}

.form-error {color: red;}

input {width: 100%; max-width: 400px;}
textarea {width: 100%; max-width: 400px; height: 300px;}

#container{float:left; width:100%;}
	.row{float:left; width:100%;}
	.content{max-width:1140px; position:relative; width:100%; margin:auto;}



nav{float:right; position:relative;}
.top{height:108px;}
.top .logo{float:left; margin:30px 0 33px 0; font-size:19px; line-height:1.0em; font-weight: 800; color:#1f1f1f;}
.top .logo img{width:45px; height:45px;}
.top ul{float:left; z-index:9999;}
	.top ul li{display:inline;}
		.top ul li a{float:left; font-size:14px; line-height: 1.0em; font-weight: 700; padding:39px 18px 49px 18px; color:#585858; border-top:6px solid #fff;}
		.top ul li a:hover{color:#1f1f1f;}
		.top ul li a.active{border-top:6px solid #ea5920; color:#585858;}
.top ul#login{margin-left:97px;}
	.top ul#login li a{color:#989898;}
	.top ul#login li a:hover{color:#494949;}
	.top ul#login li.active a{border-color:#1cabb6; color:#989898;}



.info-bar{background:#C3E1E4; text-align:left; position:relative; z-index:999;}
	.info-bar tr{float:left; margin-right:10px; padding:10px 0;}
	.info-bar td{float:left;}
	.info-bar td p{float:left; margin:8px auto;}
	.info-bar td{vertical-align: middle;}
	.info-bar p{float:left; margin:14px auto;}
	.info-bar ul{float:right;}
		.info-bar ul li{display:inline;}
			.info-bar ul li a{float:left; font-size:14px; line-height:1.0em; font-weight: 700; color:#1cabb6; padding:19px 20px 21px;}
			.info-bar ul li a:hover{opacity:0.6;}
			.info-bar ul li a.active{background:#1cabb6; color:#fff; opacity:1 !important;}


#main {background:#f8f8f8 url(../img/bg.jpg) top center no-repeat; float: left; width: 100%; position: relative; overflow: hidden;}
	.main-site {text-align:center; padding-bottom:80px;}
	.decoration-right, .main-site .decoration-right{position:absolute; width:243px; height:470px; background:url(../img/decoration-right.png); right:0; top:42px;}
	.decoration-left, .main-site .decoration-left{position:absolute; width:243px; height:470px; background:url(../img/decoration-left.png); left:0; top:42px;}
	.main-site h2{margin-top:120px;}
	.main-site h1{margin:30px auto;}
	.main-site h3{margin-bottom:30px;}

.showcase{background:#f8f8f8; padding:30px 0 70px;}
	.showcase-main {background: none;}
	.showcase h3{font-size:18px; line-height:1.8em; color:#707070;}
	.showcase-one{position:relative; float:left; width:24.21%; margin-bottom:30px; margin-left:1.05%;}
		.showcase-one h3{font-size:20px; line-height:1.2em; color:#1cabb6;}
	.showcase-one img{width:100%;}
        .showcase-one a{text-decoration:underline; color:inherit;}
        .showcase-one h3 a{text-decoration:none;}
        .showcase-one a:hover{text-decoration:none;}
        .showcase-one p{font-size:14px; line-height:1.4em; padding:10px 0px;}
        .showcase-one .thumb{margin:10px 0; border-radius: 5px;}
			.showcase-one .thumb .hover{position:absolute; width:100%; overflow:hidden; background:url(../img/showcase/hover.png); -webkit-opacity: 0; -moz-opacity: 0; opacity: 0; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease;}
			.showcase-one .thumb:hover .hover{opacity:1;}
				.showcase-one .thumb .hover img{position:relative; top:192px; transition:top 0.4s;-moz-transition:top 0.4s;-webkit-transition:top 0.4s;-o-transition: top 0.4s; }
			.showcase-one .thumb:hover .hover img{top:0px;}
			.showcase-one .thumb:hover .hover{z-index:5;}
			.showcase-one h3 a:hover{color:#ea591e;}
			.showcase-one .thumb .loading {width:100%; overflow:hidden;}
				.showcase-one .thumb .loading i{position:absolute; left:40%; height: 50px; top:20%; font-size: 60px;}
	.showcase-one:nth-child(4n+1){clear:both; margin:0;}

.user {padding:0 0 30px 0;}

.inner-page{background:#f8f8f8; padding:30px 0 70px 0;}
	.inner-page h3{font-size:18px; line-height:1.8em; color:#707070;}
	.inner-page .page-content p{margin-bottom: 10px;font-size:18px; line-height:1.6em; font-weight: 400;}
	.inner-page a{color:#878787; text-decoration: underline;}
	.inner-page a:hover{text-decoration: none;}
	.inner-page ul { margin-left:30px; margin-bottom: 20px;}

.see-more{float:left; width:100%; text-align:center; }
	.see-more hr{margin-top:-17px;}


.left-column{float:left; width:47.5%;}
.right-column{float:right; width:47.5%;}
.right-column{margin-left:5%;}

.search-bar{padding: 2% 0;}
	.search-bar input, .search-bar button {float:right;}
	.search-bar input {width: 50%; margin-right: 10px;}

.presentation-page{padding:0px 0 70px 0;}

.presentation{text-align:left; width:100%; clear:both; float:left;}
	.presentation p{color:#878787; font-size:18px; line-height:1.6em; font-weight: 400;}
	.presentation a{color:#878787; text-decoration: underline;}
	.presentation a:hover{text-decoration: none;}
	.presentation a img{margin-left:5px;}
	.presentation a img:hover{opacity:0.8;}


.comments{clear:both; width:100%; margin-top:40px; float:left;}
	.comments hr{border-color:#c0c0c0; margin-bottom:40px;}
	.comment{float:left; width:100%;}
		.comment img{float:left; padding-right:40px; margin-top:-12px; width:10%;}
		.comment p{font-size:20px; line-height:1.6em; font-weight: 400; color:#474747; margin:30px 0;}
		.comment span{color:#ea591e;}
		.comment span.nick{color:#1cabb6;}
			.respond p{margin-left:10%; width:90%;}



.myprofile-left, .myprofile-right{margin-top:40px;}
.myprofile-left{float:left; width:40%;}
	.myprofile-left img{width:100%; border-radius:1000px;}
.myprofile-right{float:left; width:50%; margin-left:5%; text-align:left;}
	.myprofile-right h1{font-size:48px; margin:0; line-height:1.6em; text-transform:uppercase;}
	.myprofile-right h5, .myprofile-right p{font-size:18px; line-height:1.4em;}
	.myprofile-right h5{margin:20px 0;}
.myprofile-right .left, .right-column .left, .left-column .left{float:left; width:40%; margin-bottom:30px;}
.myprofile-right .right, .right-column .right, .left-column .right{float:left; width:55%; margin-left:5%; margin-bottom:30px;}
	.myprofile-right .right a, .right-column .right a{float:left; margin-right:10px;}
	.myprofile-right .right a:hover, .right-column .right a:hover{opacity:0.6;}


.foot{}
	.foot p{float:left; color:#939393; margin-top:44px;}
	.foot a{color:#939393;}
	.foot a:hover{color:#1cabb6; border-bottom:1px solid #1cabb6;}
	.foot ul{float:right;}
		.foot ul li{display:inline;}
		.foot ul li a{float:left; font-size:14px; line-height:1.0em; font-weight: 700; color:#989898; margin:0; padding:47px 18px 53px 18px;}
		.foot ul li a:hover{color:#494949; border:none;}



.area{background:#1cabb6 url(../img/upload-bg.jpg) bottom center no-repeat; text-align:center; position:relative; z-index:99; padding-top:20px;}
	.area p{font-size:14px; line-height:1.0em; font-weight: 400; color:#fff; margin:20px 0 10px 0;}
	.area  input[type="text"], .area  input[type="password"]{float:left; width:236px; height:29px; padding:0px 20px; background:url(../img/input-long.png) no-repeat; border:none; margin:10px 0px 24px 0; font-size:14px; line-height:1.0em; font-weight: 700; color:#1cabb6; opacity:0.8;}
	.area  input[type="text"]:focus, .area  input[type="password"]:focus, .area textarea:focus{opacity:1;}
	.area textarea{width:236px; height:95px !important; padding:15px 20px; background:url(../img/textarea.png) no-repeat; border:none; margin:0 0px; font-size:14px; line-height:1.4em; font-weight: 700; color:#1cabb6; opacity:0.8; margin-top:10px;}

.area input[type="text"]:last-child{margin-bottom:0;}

.special{position:relative; bottom:-38px; margin:0; padding:0;}

.dropzone{float:left;width:277px; height:211px; background:url(../img/drag-and-drop-area.png); margin-top:10px;}
.first-upload{float:left;}
.second-upload{float:left; margin-left:60px;}
.third-upload{float:left; margin-left:60px;}

.area-form{float:left; width:100%; position:relative;}
.upload{display:inline-block; text-align:left;}
.area .button:hover{opacity:1; color:#eeedec;}

.fa-circle {
	color: #1cabb6;
}


@media only screen and (max-width:1440px){

	.decoration-right{right:-120px;}
	.decoration-left{left:-120px;}
}

@media only screen and (max-width:1180px){

	.content{width:96%; padding:0 2%;}
}

@media only screen and (max-width:1140px){

	.main-site .decoration-right{right:-100px; top:80px;}
	.main-site .decoration-left{left:-100px; top:80px;}


	#main{padding-bottom:0px; min-height:0; padding-bottom:124px;}
	.main-site h2{margin-top:98px;}

	.area{background:#1cabb6 url(../img/upload-bg.jpg) bottom left no-repeat;}
}


@media only screen and (max-width:1024px){

	h1{font-size:44px; line-height:1.0em; font-weight: 800;}
	h2{font-size:30px; line-height:1.0em; font-family: Crimson, Arial, sans-serif;}
	h3{font-size:20px; line-height:1.6em; font-weight: 400;}

	.main-site .decoration-right{right:-100px; top:20px; display:block;}
	.main-site .decoration-left{left:-100px; top:20px; display:block;}
	.decoration-right{display:none;}
	.decoration-left{display:none;}


	#main{padding-bottom:0px; padding-bottom:78px;}
	.main-site h2{margin-top:98px;}


	.showcase-one h3{font-size:16px; line-height:1.2em; color:#1cabb6;}


	.player{margin:20px auto;}


	.myprofile-right .left, .right-column .left{width:100%; margin-bottom:0px;}
	.myprofile-right .right, .right-column .right{width:100%; margin-left:0; margin-bottom:50px;}
	.myprofile-left, .myprofile-right{margin-top:60px;}
	.myprofile-left{float:left; width:40%;}
		.myprofile-left img{width:100%; border-radius:1000px;}
	.myprofile-right{float:left; width:50%; margin-left:5%; text-align:left;}


	.info-bar tr{float:none !important; margin-right:10px; padding:10px 0;}
	.info-bar td{float:none !important;}
	.info-bar td{vertical-align: middle;}
	.info-bar .text{display:none;}
	.info-bar ul{float:left; width:100%; padding:4px 0 12px;}
	.info-bar p{margin:10px 0 6px;}
	.info-bar ul li a{padding:0 10px 0 0px;}

	.info-bar ul li a.active{background:none; color:#ea591e;}
}

@media only screen and (max-width:1000px){

	.third-upload{clear:both; margin-left:0px;}
}


@media only screen and (max-width:800px){

	h1{font-size:34px; line-height:1.2em; font-weight: 800;}
	h2{font-size:24px; line-height:1.0em; font-family: Crimson, Arial, sans-serif;}
		h2:before, h2:after{display:none;}
	h3{font-size:16px; line-height:1.6em; font-weight: 400;}

	.top{height:73px;}
	.top .logo{margin:14px 0;}

	nav{position:absolute; top:65px; right:2%; width:40%; z-index:9999;}
		.top ul{width:100%; background: url(../img/mobile-background.png) no-repeat top right; padding-top:8px; display:none;}
			.top ul li {display:block;}
			.top ul li a {width:100%; padding:12px 0 !important; border:none !important; border-bottom:1px solid #ea591e !important; color:#fff !important; text-indent:18px; background:#ef7a2b;}
			.top ul li.active a, .top ul a.active{color:#fff !important; background:#ea591e !important;}
			.top ul a:hover{background:#f78131;}
		.top ul#login{padding-top:0; margin-left:0;}
		.top a#responsive-menu{position:absolute; right:2%; top:14px; display:block; width:45px; height:45px; background:url(../img/mobile_menu.jpg) no-repeat; z-index:9999;}


	.main-site .decoration-right{right:-140px; top:0px;}
	.main-site .decoration-left{left:-140px; top:0px;}

	#main{padding-bottom:72px;}

	.foot p{margin-top:8px;}
	.foot ul{float:left; width:100%; margin:0 0 10px; padding:0;}
		.foot ul li a{float:left; font-size:13px; line-height:1.0em; font-weight: 400; color:#989898; margin:0; padding:8px 20px 0 0;}

	.showcase h3{font-size:16px; line-height:1.8em; color:#707070;}
		.showcase-one{position:relative; float:left; width:49%; margin-bottom:30px; margin-left:2%;}
			.showcase-one h3{font-size:14px; line-height:1.2em; color:#1cabb6;}
			.showcase-one p{font-size:12px; line-height:1.4em; padding:10px 0px;}
		.showcase-one:nth-child(2n+1){clear:both; margin:0;}


	.second-upload{clear:both; margin-left:0px;}


	.myprofile-left{float:left; width:100%;}
		.myprofile-left img{width:50%;}
	.myprofile-right .left, .right-column .left{width:100%; margin-bottom:0px;}
	.myprofile-right{float:left; width:100%; margin-left:0%;}
		.myprofile-right h1{font-size:34px; margin:0; line-height:1.2em;}
		.myprofile-right h5, .myprofile-right p{font-size:16px; line-height:1.4em;}
		.myprofile-right h5{margin:20px 0;}


	.left-column, .right-column{width:100%; margin-left:0%;}

	.search-bar input, .search-bar button {float:none;}

	#main{background:#e0e0e0;}


	.presentation p{color:#878787; font-size:16px; line-height:1.6em; font-weight: 400;}

	.comment img{float:left; padding-right:20px; margin-top:-12px;}
	.comment p{font-size:16px; line-height:1.4em; font-weight: 400; color:#474747; margin:20px 0;}
		.respond p{margin-left:10%; width:90%;}
}


@media only screen and (max-width:480px){

	h1{font-size:24px; line-height:1.0em; font-weight: 800;}
	nav{width:60%;}

	.info-bar .text{display:none;}

	.decoration-right, .main-site .decoration-right{display:none;}
	.decoration-left, .main-site .decoration-left{display:none;}

	.player{margin:10px 0 30px;}

	.info-bar{display:block;}
	.info-bar ul li a{clear:both; padding:6px 0px;}
	.myprofile-right h1{font-size:24px; margin:0; line-height:1.2em;}

}

@media only screen and (max-width:384px){

	nav{width:96%;}

	.myprofile-left img{width:70%;}
}



.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
