<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Because you shouldn't have to fly 1000 miles to learn something new. After going to many conferences we realized something. A lot of great content gets produced that will never sees the outside world. We want to make the experience better.{% endblock %}">
    <meta property="og:image" content="{% block share_image %}{{ url_for('static', filename = 'img/logo.png', _external=True) }}{% endblock %}"/>
    <meta property="og:title" content="{{ self.title() }}"/>
    <meta property="og:description" content="{{ self.description() }}"/>

    <title>{% block title %}{% endblock %}{% if self.title() %} // {% endif %}Conferencus.com</title>

{% assets filters="cssmin", output="css/packed.css",
          "css/normalize.css", "css/fonts.css", "css/pure-min.css", "css/font-awesome.min.css",
          "css/style.css", "css/royalslider.css", "css/rs-default.css", "css/slidedeck.css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}

    <link rel="icon" type="image/png" href="{{ url_for('static', filename = 'img/logo.png') }}" />
  </head>

  <body>
    <div id="container">
      <div class="row top">
        <div class="content">
          <a href="/" class="logo"><img src="{{ url_for('static', filename = 'img/logo.png') }}" alt="Conferencus.com logo" /> CONFERENCUS.COM</a>

          <a href="#" id="responsive-menu"></a>
          <nav>
            <ul id="main-menu">
              <li><a {% if request.path == url_for('index') %}class="active"{% endif %} href="{{ url_for('index') }}">HOME</a></li>
              <li><a {% if request.path == url_for('pages.about') %}class="active"{% endif %} href="{{ url_for('pages.about') }}">ABOUT</a></li>
              <li><a {% if request.path == url_for('slidedeck.index') %}class="active"{% endif %} href="{{ url_for('slidedeck.index') }}">TALKS</a></li>
            </ul>

            {% if not current_user.is_authenticated() %}
              <ul id="login">
                <li><a {% if request.path == url_for('user.register') %}class="active"{% endif %} href="{{ url_for('user.register') }}">REGISTER</a></li>
                <li><a {% if request.path == url_for('user.login') %}class="active"{% endif %} href="{{ url_for('user.login') }}">LOG IN</a></li>
              </ul>
            {% else %}
              <ul id="login">
                <li><a href="{{ url_for('user.logout') }}">LOGOUT</a></li>
              </ul>
            {% endif %}
          </nav>
        </div>
      </div>

      {% with messages = get_flashed_messages() %}
        {% if current_user.is_authenticated() or messages %}
        <div class="row info-bar">
          <div class="content">
            <p>
                {% if current_user.is_authenticated() %}
                  Welcome <strong>{{ current_user.display_name }}</strong>
                {% endif %}
                {% if current_user.is_authenticated() and messages %}
                      ,
                {% endif %}
                {% if messages %}
                      <img src="/static/img/icons/heart.png" alt="Heart"> {{ messages[0] }}</li>
                {% endif %}
            </p>
            {% if current_user.is_authenticated() %}
              <ul>
                <li><a {% if request.path == url_for('slidedeck.upload') %}class="active"{% endif %} href="{{ url_for('slidedeck.upload') }}">UPLOAD</a></li>
                <li><a {% if request.path == url_for('user.profile', username = current_user.username) %}class="active"{% endif %} href="{{ url_for('user.profile', username = current_user.username) }}">MY PROFILE</a></li>
                <li><a {% if request.path == url_for('user.edit') %}class="active"{% endif %}href="{{ url_for('user.edit') }}">EDIT PROFILE</a></li>
              </ul>
            {% endif %}
          </div>
        </div>
        {% endif %}
      {% endwith %}
      {% block content %}
      {% endblock %}
      <div class="row foot">
        <div class="content">
          <p>MADE WITH <img src="{{ url_for('static', filename = 'img/icons/heart.png') }}" alt="LOVE"> IN NYC</p>

          <ul>
            <li><a href="{{ url_for('pages.copyright') }}">COPYRIGHTS</a></li>
            <li><a href="{{ url_for('pages.contact') }}">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>

{% assets filters="jsmin", output="js/packed.js",
          "js/jquery.min.js", "js/jquery.royalslider.min.js",
          "js/core.js", "js/slidedeck.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% if not config.DEBUG %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52334258-1', 'auto');
      ga('send', 'pageview');

    </script>
{% endif %}
  </body>
</html>