{% extends "layout.html" %}
{% block content %}
<section id="main" data-type="background" data-speed="2.5">
    <div class="row main-site">
        <div class="decoration-left"></div>
        <div class="decoration-right"></div>

        <div class="content">

            <h2>Because you shouldn't have to fly 1000 miles</h2>
            <h1>TO LEARN SOMETHING NEW</h1>
            <h3>After going to many conferences we realized something.<br/>
            A lot of great content gets produced that will never sees the outside world.<br/>
            We want to make the experience better. <a href="{{ url_for('pages.about') }}">Read more</a></h3>
        </div>
    </div>

    <div class="row showcase showcase-main">
        <div class="content">
            <h4><img src="{{ url_for('static', filename = 'img/icons/heart.png') }}" alt="Heart" /> Featured Presentations</h4>
            <hr>
            <div class="talks">
            {% for presentation in presentations %}
                {% include "slidedeck_presentation_partial.html" %}
            {% endfor %}
            </div>

            <div class="see-more">
                <a class="grey-button" href="{{ url_for('slidedeck.index') }}">SHOW MORE</a>
                <hr>
            </div>
        </div>
    </div>
</section>
{% endblock %}