<div class="showcase-one">
    {% if not presentation.finished %}
    <div class="thumb">
        <div class="loading"><i class="fa fa-spinner fa-spin"></i></div>
        <img src="{{ url_for('static', filename = 'img/showcase/hover.png') }}" alt="thumbnail">
    </div>
    <h3>{{ presentation.title }}</h3>
    {% else %}
    <a href="{{ url_for('slidedeck.watch', url = presentation.url, id = presentation.id) }}">
        <div class="thumb">
            <div class="hover"><img src="{{ url_for('static', filename = 'img/showcase/hover-icon.png') }}" alt="hover icon" ></div>
            <img src="{{ url_for('slidedeck.thumbnail', url = presentation.url, id = presentation.id) }}{% if presentation.first_slide().thumbnail_md5 %}?{{ presentation.first_slide().thumbnail_md5 }}{% endif %}" alt="thumbnail">
        </div>
    </a>
    <h3><a href="{{ url_for('slidedeck.watch', url = presentation.url, id = presentation.id) }}">{{ presentation.title }}</a></h3>
    {% endif %}
    <p>
        {% if edit %}
            <a href="{{ url_for('slidedeck.edit', id = presentation.id, url=presentation.url) }}">Edit</a> or
            <a href="{{ url_for('slidedeck.delete', id = presentation.id, url=presentation.url) }}">Delete</a><br />
        {% endif %}
        {{ presentation.added | dateformat('long') }} by <a href="{{ url_for('user.profile', username = presentation.user.username) }}">{{ presentation.user.display_name }}</a>
    </p>
</div>