{% extends "layout.html" %}

{% block content %}
<div class="page-header">
  <h1>Pages</h1>
</div>

<a href="{{ url_for('pages.add') }}" class="btn btn-default">Add a Page</a>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for page in pages.items %}
    <tr>
      <td><a href="{{ url_for('pages.edit', id=page.id) }}">{{ page.title }}</a></td>
      <td>{{ page.url }}</td>
      <td><a href="{{ url_for('pages.edit', id=page.id) }}"><i class="fa fa-edit"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if pages %}
{{ render_pagination(pages) }}
{% endif %}

{% endblock %}