{% extends "layout.html" %}

{% block content %}
<div class="page-header">
  <h1>Talks</h1>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Created</th>
      <th>Title</th>
      <th>User</th>
      <th>Finished</th>
      <th>Published</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for presentation in presentations.items %}
    <tr>
      <td>{{ presentation.added | datetimeformat('short') }}</td>
      <td><a href="{{ url_for('slidedeck.edit', id=presentation.id) }}">{{ presentation.title }}</a></td>
      <td><a href="{{ url_for('users.edit', id=presentation.user.id) }}">{{ presentation.user.username }}</a></td>
      <td>{% if presentation.finished %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
      <td>{% if presentation.published %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</td>
      <td><a href="{{ url_for('slidedeck.edit', id=presentation.id) }}"><i class="fa fa-edit"></i></a> <a href="{{ url_for('slidedeck.delete', id=presentation.id) }}"><i class="fa fa-trash-o"></i></a> <a href="{{ url_for('slidedeck.reprocess', id=presentation.id) }}"><i class="fa fa-refresh"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if presentations %}
{{ render_pagination(presentations) }}
{% endif %}

{% endblock %}